@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>
    If you want to upload data from files, you should click two buttons and chose two different files with certain data.
    First file for folder id and its name. Second file for folder relations. Files should be in csv format

</p>
<br/>
<form method="post" enctype="multipart/form-data" action="@Url.Action("UploadFolderCatalog", "Import")">
    <input class="form-control" name="file1" type="file" />
    <input class="form-control" name="file2" type="file" />
    <button class="btn btn-primary" type="submit">Upload folder catalog from file</button>
</form>
<br />
<br />
<p>
    If you want to upload folder catalog from operating system, click the button under this text
</p>
<button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("", "Import")'">Upload folders from operating system</button>


