@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>
    If you want to upload data from files, you should click two buttons and chose two different files with certain data.
    First file for folder id and its name. Second file for folder relations. Files should be in csv format

</p>

<form method="post" enctype="multipart/form-data" action="@Url.Action("UploadFolderCatalog", "Import")">
    <div class="import-control">
        <label>Select file with folders and ids</label>
        <input class="form-control" name="file1" type="file"/>
    </div>
    <div class="import-control">
        <label>Select file with folder relations</label>
        <input class="form-control" name="file2" type="file"/>
    </div>
    <div class="import-control">
        <button class="btn btn-primary" type="submit">Upload folder catalog from file</button>
    </div>
</form>



