@model List<Folder>
@{
    ViewData["Title"] = "Display Data";
}
<div>
    @{
        <ul>
            @foreach (var item in Model)
            {
                <li class="folder">
                    <a href="@Url.Action("Subdirectories", "Folders", new { id = item.Id })">@item.Path</a>
                </li>
            }
        </ul>
    }
</div>


